* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

div.carousel {
    position: relative;
    display: flex;
    width: 100vw;
    height: 600px;
    justify-content: right;
    overflow: hidden;
    align-items: center;
    padding-right: 4%;
    background: #000000;
}
div.visual-layer-1 {
    position: absolute;
    width: 30%;
    height: inherit;
    left: 0;
    background: inherit;
    z-index: 1;
}
div.visual-layer-2 {
    position: absolute;
    width: 4%;
    height: inherit;
    right: 0;
    background: linear-gradient(to right, #000000ad 50%, #000000);
    z-index: 1;
}

div.slider-data {
    position: relative;
    width: 40%;
    height: 70%;
    padding: 0 5%;
    background: linear-gradient(to right, #000000 80%, #000000ad);
    z-index: 1;

}

div.container {
    position: relative;
    display: inline-flex;
    width: 50vw;
    height: 600px;
    align-items: center;
    transition: 0.5s;

    user-select: none;
}

div.dragging.container {
    transition: 0s;
}

div.carousel-item {
    position: absolute;
    border-radius: 50%;
    text-align: center;
    left: 0;
    font-size: 100px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transition: inherit;
    transform-origin: left;
    opacity: 1;
    will-change: transform, left;
    cursor: pointer;
}

button.carousel-control-button {
    position: absolute;
    width: 18.62px;
    height: 40px;
    border: none;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
    cursor: pointer;

    z-index: 2;
}

button.rightButton {
    right: 2%;
    background-image: url("assets/right-arrow.png");
}

button.leftButton {
    left: 2%;
    background-image: url("assets/left-arrow.png");
}

div.pagination {
    position: absolute;
    display: flex;
    height: 3px;
    bottom: 10%;
    left: calc(50% - 100px);
    align-items: center;
    background: #242424;
    border-radius: 8px;

    z-index: 2;
    cursor: pointer;
    transition: 0.2s;

}
div.pagination:hover {
    height: 5px;
}

span.pagination-indicator{
    position: absolute;
    display: block;
    height: 100%;
    left: 75%;
    margin: auto 0;
    transition: 0.5s;

    background: #28E8ED;
    border-radius: inherit;
}


/*-----------------*/
div.slider-data div.slider-name {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #C6C6C6;
    margin: 0 0 12px;
}

div.slider-data div.slider-type {
    font-style: normal;
    font-weight: 300;
    font-size: 19px;
    line-height: 26px;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #C6C6C6;
    margin: 0 0 28px;
}

div.slider-data div.slider-desc {
    font-style: normal;
    font-weight: 200;
    font-size: 14px;
    line-height: 19px;
    text-align: justify;
    letter-spacing: -0.005em;
    color: #C6C6C6;
    margin: 0 0 108px;
}

div.slider-data button.slider-details-button {
    width: 100%;
    height: 55px;
    background: #0D0D0D;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-decoration: none;
    color: #C6C6C6;
    border: none;
    cursor: pointer;
}

@media(max-width: 1024px) {
    div.visual-layer-1, .visual-layer-2 {
        display: none;
    }
    div.carousel{
        flex-direction: column-reverse;
        padding: 0;
        height: 1000px;
    }
    div.container {
        width: 100vw;
        height: 1000px;

    }

    div.pagination {
        bottom: 35%;
        height: 5px;
    }
    div.slider-data {
        width: 100vw;
        height: 60%;
        padding-top: 10%;
    }
    /*div.slider-data > div.slider-desc {*/
    /*    display: none;*/
    /*}*/
    div.slider-name {
        font-size: 20px;
        text-align: center;
    }
    div.slider-type {
        text-align: center;
    }

    button.leftButton, button.rightButton {
        top: 230px;
    }
}
