* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    padding: 0;
    box-sizing: border-box;
}

div.container {
    position: absolute;
    display: inline-flex;

    width: inherit;
    height: inherit;
    align-items: center;
    transition: 0.5s;

}

div.dragging.container {
    transition: 0s;
}


div.carousel {
    position: relative;
    display: inline-flex;
    width: 900px;
    height: 600px;

    overflow: hidden;
    align-items: center;


    background: yellow;
}
div.slider-text {
    width: 346px;
    height: inherit;
    background: orange;
}
div.carousel-item {
    position: absolute;
    background: blue;
    border-radius: 50%;
    text-align: center;
    left: 0;
    font-size: 100px;
    transition: inherit;
    transform-origin: left;
    opacity: 1;
    will-change: transform, left;
}

button.rightButton {
    position: absolute;
    right: 0;
    z-index: 2;
}

button.leftButton {
    position: absolute;
    left: 0;
    z-index: 2;
}

